@import "bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

@font-face {
  font-family: "MyFont";
  src: url("./fonts/SocietyMembersRegular-L3vMn.ttf");
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  height: 100%;
  width: 100%;
  background-color: #dfe0df;
}
header {
  background-color: #402e32;
  height: 78px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 10px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  border: 5px ridge black;
  user-select: none;
}

header h1 {
  color: #e36300;
  font-family: "MyFont";
  font-size: 3rem;
}
header img {
  width: 50px;
  height: 50px;
  border-radius: 30%;
}

#container {
  height: 36rem;
}
#lists-col {
  background-color: #402e32;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  border: 5px black;
  border-style: ridge;
  height: 100%;
}
.list-group-item {
  background-color: inherit;
  border: none;
}
.list-group-item.main {
  background-color: inherit;
  border: none;
  color: #e36300;
}
.list-group-item.main:hover {
  color: #d79f7f;
  cursor: pointer;
}

#main-lists {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0;
  height: 80%;
  font-size: 1.5rem;
  background-color: #402e32;
}
.custom-icon-size {
  font-size: 50px;
}

#add {
  position: fixed;
  padding: 0;
  top: 80%;
  left: 90%;
  width: fit-content;
  height: fit-content;
  font-size: 4rem;
  color: #ed8434;
}
#add:active {
  color: #402e32;
}
#details,
#edit-button,
#delete-in-todo {
  z-index: 0;
}
#add-todo {
  top: 10%;
  left: 10%;
  display: none;
  z-index: 1;
}
.custom-shadow {
  box-shadow: 0 0 5px rgb(0, 0, 0);
  transition: box-shadow 0.3s;
}
.custom-shadow:hover {
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.985);
}

.dark-overlay,
.dark-overlay2,
.dark-overlay3,
.dark-overlay4,
.dark-overlay5,
.dark-overlay6 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#edit-todo {
  top: 10%;
  left: 32%;
  display: none;
  z-index: 1;
  width: 500px;
}
.card.edit {
  height: 70%;
}
.card.add {
  height: 80vh;
  width: 80vw;
}
#form-background,
#form-background-edit,
#form-background-project {
  height: 90%;
  opacity: 0.1;
  filter: brightness(110%) contrast(150%);
}
#submit-form {
  margin-left: 450px;
}
#textarea,
#textarea-edit,
#textarea-note,
#textarea-in-project {
  resize: none;
}
#title {
  font-weight: bold;
  font-size: 1.1rem;
}
#title + label {
  font-size: 1.1rem;
  color: gray;
  font-weight: bold;
}
.backgroundcolor-green {
  background-color: #00a230;
}
.backgroundcolor-yellow {
  background-color: #e36300;
}
.backgroundcolor-red {
  background-color: rgba(255, 0, 0, 0.875);
}
#display-details {
  top: 20%;
  left: 32%;
  display: none;
  z-index: 1;
  width: 500px;
}

.border-note {
  outline: none;
  border-color: transparent;
}
.custom-line-break {
  max-width: 200px;
  width: 200px;
}

#add-note {
  top: 20%;
  left: 32%;
  display: none;
  z-index: 1;
  width: 500px;
}
#close-note {
  position: absolute;
  top: 2%;
  left: 89%;
  box-shadow: none;
}
#close-note:active {
  outline: 2px solid gray;
}
#close-note:focus {
  outline: 2px solid gray;
}
#add-project {
  top: 30%;
  left: 32%;
  display: none;
  z-index: 1;
  width: 500px;
}

.custom-project {
  background-color: #d79f7f72;
  background-blend-mode: lighten;
  box-shadow: 0 0 5px rgb(0, 0, 0);

  transition: background-color 0.3s, box-shadow 0.3s;
}
.project-click {
  cursor: pointer;
}
.custom-project:hover {
  background-color: #402e32;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.985);
}
.project-title {
  font-size: 3rem;
  max-width: 400px;
  overflow-wrap: break-word;
  cursor: text;
}
#delete-project {
  position: absolute;
  top: 4%;
  left: 90%;
  box-shadow: none;
}
#delete-project:active {
  outline: 2px solid gray;
}

#delete-project:focus {
  outline: 2px solid gray;
}
#add-todo-in-project {
  top: 10%;
  left: 10%;
  display: none;
  z-index: 1;
}
.card.add-in-project {
  height: 80vh;
  width: 80vw;
}
.project-lists {
  color: gray;
}
.project-lists:hover {
  color: white;
  cursor: pointer;
}

.clicked {
  position: relative;
}

.clicked::before {
  content: "// ";
  color: gray;
  position: absolute;
  left: -10px;
  animation: fadeIn 0.5s forwards;
}

.clicked2 {
  position: relative;
}

.clicked2::before {
  content: "// ";
  color: #e36300;
  position: absolute;
  left: -10px;
  animation: fadeIn 0.5s forwards;
}
.start {
  position: relative;
  animation: slideIn 0.7s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideIn {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
#todo-mobile {
  border-radius: 50rem;
}
.note-paragraph {
  max-height: 168px;
}
#note-result {
  width: 25%;
  height: 50%;
}

@media only screen and (max-width: 768px) {
  header {
    background-color: #402e32;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    user-select: none;
  }

  header h1 {
    color: #e36300;
    font-family: "MyFont";
    font-size: 2.3rem;
  }
  header img {
    width: 40px;
    height: 40px;
    border-radius: 30%;
  }
  #navbar-button {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    padding: 0 0 10px 0;
  }
  #navbar-button > span {
    display: none;
  }
  #navbar-button > i {
    font-size: 1rem;
  }

  #made-by {
    font-size: 0.7rem;
    margin-right: 6px;
  }
  #github {
    font-size: 1.2rem;
  }
  #github-text {
    display: none;
  }
  #lists-col {
    width: 80px;
    height: 12%;
  }
  #main-navbar-button > span {
    width: 20px;
  }
  #main-lists {
    font-size: 1.2rem;
  }

  #add {
    top: 85%;
    left: 75%;
    font-size: 3rem;
  }
  #check-title {
    display: flex;
    align-items: center;

    flex: 1;
  }
  #todo-mobile {
    height: min-content;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px 5px;
    border-radius: 1px;
  }
  #todo-title {
    height: fit-content;
    overflow: auto;
    flex: 1;
    border: none;
    padding: 0;
  }
  .delete {
    flex: 1;
  }
  .label-mobile {
    font-size: 0.8rem;
  }
  #submit-form,
  #submit-form-in-project,
  #edit-form {
    margin-left: 0px;
    font-size: 0.8rem;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #date,
  #date-in-project,
  #date-edit {
    font-size: 0.8rem;
  }
  #low,
  #low-in-project,
  #low-edit,
  #mid,
  #mid-in-project,
  #mid-edit,
  #high,
  #high-in-project,
  #high-edit {
    font-size: 0.8rem;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobile-todo-priority {
    flex-direction: column;
    gap: 10px;
  }

  .project-title {
    font-size: 1rem;
  }
  #project-result {
    padding: 5px;
  }
  #content {
    height: 100%;
  }
  #delete-project {
    top: 4%;
    left: 85%;
    font-size: 0.5rem;
  }
  #add-note {
    top: 20%;
    left: 15%;
    width: 200px;
  }
  #note-result {
    width: 75%;
    height: 75%;
  }
  .custom-line-break {
    max-width: 100px;
    width: 100px;
  }
  #close-note {
    left: 83%;
  }
  #edit-todo {
    top: 10%;
    left: 15%;
    width: 250px;
  }

  .card.edit {
    height: 450px;
  }
  #display-details {
    top: 20%;
    left: 7%;
    width: 250px;
  }
  #add-project {
    top: 30%;
    left: 15%;
    width: 250px;
  }
}
