@import "bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
  height: 100%;
  width: 100%;
  background-color: #dfe0df;
}
header {
  background-color: #402e32;
  height: 68px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 10px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  border: 5px ridge black;
}
header > h1 {
  color: #e36300;
  font-size: 3rem;
}
header > img {
  width: 50px;
  height: 50px;
  border-radius: 30%;
}
#container {
  height: 36rem;
}
#lists-col {
  background-color: #402e32;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  border: 5px black;
  border-style: ridge;
  height: 100%;
}
.list-group-item {
  background-color: inherit;
  border: none;
  color: #e36300;
}
.list-group-item:hover {
  color: #d79f7f;
  cursor: pointer;
}

#main-lists {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0;
  height: 80%;
  font-size: 1.5rem;
  background-color: #402e32;
}
.custom-icon-size {
  font-size: 50px;
}

#add {
  position: absolute;
  padding: 0;
  top: 80%;
  left: 90%;
  width: fit-content;
  height: fit-content;
  font-size: 4rem;
  color: #ed8434;
}
#add:active {
  color: #402e32;
}
#details {
  z-index: 0;
}
#add-todo {
  top: 10%;
  left: 10%;
  display: none;
  z-index: 1;
}
.dark-overlay,
.dark-overlay2,
.dark-overlay3,
.dark-overlay4 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#edit-todo {
  top: 10%;
  left: 32%;
  display: none;
  z-index: 1;
  width: 500px;
}
.card.edit {
  height: 70%;
}
.card.add {
  height: 80vh;
  width: 80vw;
}
#form-background,
#form-background-edit {
  height: 90%;
  opacity: 0.1;
  filter: brightness(110%) contrast(150%);
}
#submit-form {
  margin-left: 450px;
}
#textarea,
#textarea-edit,
#textarea-note {
  resize: none;
}
#title {
  font-weight: bold;
  font-size: 1.1rem;
}
#title + label {
  font-size: 1.1rem;
  color: gray;
  font-weight: bold;
}
.backgroundcolor-green {
  background-color: #00a230;
}
.backgroundcolor-yellow {
  background-color: #e36300;
}
.backgroundcolor-red {
  background-color: rgba(255, 0, 0, 0.875);
}
#display-details {
  top: 20%;
  left: 32%;
  display: none;
  z-index: 1;
  width: 500px;
}
.custom-shadow {
  box-shadow: 0 0 5px rgb(0, 0, 0);
  transition: box-shadow 0.3s;
}
.custom-shadow:hover {
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.985);
}
.border-note {
  outline: none;
  border-color: transparent;
}
.custom-line-break {
  max-width: 200px;
}
#add-note {
  top: 20%;
  left: 32%;
  display: none;
  z-index: 1;
  width: 500px;
}
#close-note {
  position: absolute;
  top: 4%;
  left: 85%;
}
